<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Availações - Arcade365</title>
</head>

<body>
  <nav class="menu">
    <ul>
      <li><a href="https://github.com/AndreWeberDev/projeto-arcade365"><strong>Github Do Projeto</strong></a></li>
      <li><a href="./src/view/about.html"><strong>Sobre</strong></a></li>
      <li><a href="./src/view/terms.html"><strong>Termos de Serviço</strong></a></li>
      <li><a href="./src/view/politics.html"><strong>Política de Privacidade</strong></a></li>
      <li><a href="./src/view/contato.html"><strong>Contato</strong></a></li>
    </ul>
  </nav>
  <footer>
    <p>
      &copy; 2026 Arcade365 - todos os direitos reservados.
    </p>
  </footer>
</body>

</html>