<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="description"
    content="Somente um site informativo para mostrar a importância do HTML para a construção de páginas web." />
  <meta name="keywords" content="HTML, site, página web, desenvolvimento web" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contato - Arcade365</title>
  <link rel="shortcut icon" href="../../assets/img/logoSemBG02.png" type="image/x-icon" />

  <link rel="stylesheet" href="../css/styles.css" />
</head>

<body>
  <header id="cabecalho">
    <div class="container">
      <figure>
        <a href="../index.html"><img height="150" width="150" src="../assets/img/logo.png" alt="Logo do site" /></a>
        <figcaption>Logo do site - Arcade365</figcaption>
      </figure>
      <nav class="menu">
        <ul>
          <li><a href="https://github.com/AndreWeberDev/projeto-arcade365"><strong>Github Do Projeto</strong></a></li>
          <li><a href="./src/view/about.html"><strong>Sobre</strong></a></li>
          <li><a href="./src/view/terms.html"><strong>Termos de Serviço</strong></a></li>
          <li><a href="./src/view/politics.html"><strong>Política de Privacidade</strong></a></li>
          <li><a href="./src/view/contato.html"><strong>Contato</strong></a></li>
        </ul>
      </nav>
      <section class="title">
        <h1>Arcade365 | Entre em Contato conosco!</h1>
      </section>
    </div>
  </header>

  <main id="principal">
    <div class="container">
      <section class="form">
        <form action="">
          <div class="input-group">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name" />
          </div>

          <div class="input-group">
            <label for="lastname">Sobrenome:</label>
            <input type="text" name="lastname" id="lastname" />
          </div>

          <div class="input-group">
            <label for="whatsapp">WhatsApp:</label>
            <input type="tel" name="whatsapp" id="whatsapp" />
          </div>

          <div class="input-group">
            <label for="message">Mensagem:</label>
            <textarea name="message" id="message"></textarea>
          </div>
        </form>
      </section>
    </div>
  </main>

  <!-- Colocar id no footer -->
  <footer id="rodape">
    <div class="container">
      <p>&copy; 2026 Rtech - Todos os direitos reservados.</p>
    </div>
  </footer>
</body>

</html>