<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Política | Arcade365</title>
</head>

<body>
  <header>
    Política de Uso da Arcade365
  </header>
  <main>
    <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto vitae animi, vel voluptatem eligendi minima
      molestias dolor fugiat sunt eaque qui asperiores odio alias saepe possimus amet corrupti iste dignissimos? Sequi
      sunt doloribus ut earum autem doloremque atque porro nihil culpa, nemo praesentium sint, quia quas at in corrupti
      dicta fugit saepe aperiam consequatur officiis facilis? At magni totam placeat, unde, harum nesciunt corporis
      obcaecati ullam omnis illum tenetur mollitia cum deleniti sequi quisquam ipsa dicta? Deserunt dicta hic alias quo
      maxime harum, tempore non autem accusamus? Delectus esse laborum consequatur, alias natus culpa nobis illum
      deserunt, suscipit mollitia soluta.</h4>
  </main>
</body>

</html>